configuration.yaml.*
deps.old
custom_components.OLD
temps
www
home-assistant.log
home-assistant.log.*
home-assistant_v2.db
home-assistant_v2.db.*
lib
deps
tts
secrets.yaml
known_devices.yaml
*.conf
plex.conf
phue.conf
.*
*.db*
!/.gitignore
*.jpg
*.tar
*.sh
*.sqlite
*.zip
*.sqlite-shm
*.sqlite-wal
*.ipynb
*.html
*.mp4
*.avi
*.log
*.google.token
faces
gtfs
ha.tar
devices/*.yaml.*
devices/cours*
garmin-connect-export-master

